.app-button {
  position: absolute;
  font-family: "Raleway", sans-serif;
  background-color: rgb(48, 79, 253);
  color: rgb(255, 255, 255);
  font-size: 1vw;
  font-weight: 500;
  border-radius: 5px;
  padding-block: 0.5vw;
  padding-inline: 0.5vw;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  white-space: nowrap;
}
